h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 45px;
    color:yellow;
    text-decoration: underline;
}

h3 {
    color:white;
    font-size: 25px;
}

.home {
    background-image: url(../img/videoGame.png);
}


.formDiv {
    text-align: center;
    color:white;
}
body {
    background: url(../img/videoGame1.png) no-repeat center center fixed;
    background-size: cover;
}


.box2 {
    
    color:white;
}

#description
{
    width: 60%;
}

h4 {
    text-decoration: underline;
    border-color: black;
}

table {
    color: white;
}

#tb {
    width: 1000px;
	margin: 0px auto;
	border-radius: 30px;
	padding: 0px;
	border-style: solid;
	border-width: 10px;
	background: url(../img/cracked.png) no-repeat center center fixed;
	background-size: cover;
}

th {
    border-style: solid;
    background-color: red;
    
}

/* Style for the PC page */

.pc {
    background-image: url("../img/csgo.png");
}

#tb2 {
    width: 1500px;
	margin: 0px auto;
	/*border-radius: 30px;*/
	padding: 0px;
/*	border-style: solid;*/
	/*border-width: 10px;*/
	border-color: black;
  /*	background: url(../img/brick2.png) no-repeat center center fixed; */
	background-size: cover;
}
#controller {
    background: url("../img/controller3.png");
    width: 100px;
    height: 65px;
    float:fixed;
}

.panel 
{
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
